package com.gwtplatform.mvp.client;

import com.google.gwt.inject.client.GinModules;

@GinModules(value={${ginmodule}}, properties={"gin.ginjector.modules"})
public interface DesktopGinjector extends ClientGinjector {
}
