package com.gwtplatform.mvp.client;

import com.google.gwt.core.client.GWT;

public class ${implName}Provider implements GinjectorProvider {
    @Override
    public ClientGinjector get() {
        return GWT.create(${implName}.class);
    }
}
