package ${packageName};

import java.util.Set;
import java.util.HashSet;
import com.gwtplatform.mvp.shared.proxy.PlaceTokenRegistry;

public class ${className} implements PlaceTokenRegistry {
    public Set<String> getAllPlaceTokens() {
        Set<String> placeTokens = new HashSet<String>();

#foreach( $token in $placeTokens )
        placeTokens.add("$token");
#end

        return placeTokens;
    }
}
