package $package;

import com.gwtplatform.dispatch.rest.client.AbstractRestAction;
import com.gwtplatform.dispatch.rest.shared.HttpMethod;

public class $impl extends AbstractRestAction<$result> {
    public ${impl}(
            String defaultDateFormat#foreach ($param in $parameters),
            $param.qualifiedSourceName $param.variableName#end) {
        super(HttpMethod.$httpVerb, "$path", defaultDateFormat);
    }

    @Override
    public boolean isSecured() {
        return $secured;
    }
}
