package $package;

import com.gwtplatform.dispatch.rest.client.DefaultDateFormat;
#foreach ($import in $imports)
import $import;
#end

public class $impl implements $resourceType {
    private final String defaultDateFormat;
#foreach ($param in $parameters)
    private final $param.getParameterizedQualifiedName() $param.variableName;
#end

    ${impl}(
            @DefaultDateFormat String defaultDateFormat#generateAppendedMethodSignature($parameters)) {
        this.defaultDateFormat = defaultDateFormat;
#foreach ($param in $parameters)
        this.$param.variableName = $param.variableName;
#end
    }

#foreach ($method in $methods)
$method.output
#end
}
