    @Override
    public $resourceType ${methodName}(#generateMethodSignature($parameters)) {
        return new ${subResource.className}(
                httpParameterFactory,
                defaultDateFormat#generateAppendedCallSignature($subResourceParameters));
    }
