    @Override
    public $resourceType ${methodName}(#generateMethodSignature($parameters)) {
        return new ${subResource.className}(defaultDateFormat#generateAppendedCallSignature($subResourceParameters));
    }
