package $package;

import javax.inject.Singleton;

import com.google.gwt.inject.client.AbstractGinModule;
#foreach ($binding in $bindings)
import $binding.definition;
import $binding.implementation;
#end

public class $impl extends AbstractGinModule {
    @Override
    protected void configure() {
#foreach ($binding in $bindings)
        bind(${binding.definition.className}.class).to(${binding.implementation.className}.class)#if($binding.isSingleton()).in(Singleton.class)#end;
#end
    }
}
