package $package;

import javax.inject.Inject;
import javax.inject.Provider;

import com.google.inject.TypeLiteral;
#if (!$types.isEmpty())
import com.gwtplatform.dispatch.rest.client.serialization.mappers.*;
#end

public class $implName extends AbstractJacksonMapperProvider {
#set ($entries = $types.entrySet())
    @Inject
    $implName(#foreach ($type in $entries)Provider<$type.value> ${type.value}Provider#commaIfNeeded($entries)$lf#end) {
#foreach ($type in $entries)
        addProvider("$type.key.getParameterizedQualifiedSourceName()", ${type.value}Provider);
#end
    }
}
