#macro(commaIfNeeded $list)
#if($foreach.hasNext), #else#end
#end

#macro(printNull $element $value)
#set($null = "null")
#if($element)$value#else$null#end
#end

#macro(concatArguments $arguments1 $arguments2)
#if( "$arguments1" != "" && "$arguments2" != "" )$argumentsFromService,
$actionArguments#else$argumentsFromService$actionArguments#end
#end

#macro(importResources $bindings)
#foreach ($binding in $bindings)
import ${binding.getImplPackage()}.$binding.getImplName();
#end
#end
