#macro(commaIfNeeded $list)
#if($foreach.hasNext), #else#end
#end

#macro(printNull $element $value)
#set($null = "null")
#if($element)$value#else$null#end
#end

#macro(generateMethodSignature $parameters)
#foreach ($param in $parameters)

            $param.getParameterizedQualifiedName() $param.variableName#commaIfNeeded($parameters)#end
#end

#macro(generateAppendedMethodSignature $parameters)
#foreach ($param in $parameters),
            $param.getParameterizedQualifiedName() $param.variableName#end
#end

#macro(generateCallSignature $parameters)
#foreach ($param in $parameters)

                $param.variableName#commaIfNeeded($parameters)#end
#end

#macro(generateAppendedCallSignature $parameters)
#foreach ($param in $parameters),
                $param.variableName#end
#end
