package $package;

import com.gwtplatform.dispatch.rest.client.AbstractRestAction;
import com.gwtplatform.dispatch.rest.shared.HttpMethod;

public class $implName extends AbstractRestAction<$resultClass.parameterizedQualifiedSourceName> {
    public ${implName}(
            String defaultDateFormat#foreach ($param in $ctorParams),
            $param.type.qualifiedSourceName $param.name#end) {
        super(HttpMethod.$httpMethod, "$restPath", defaultDateFormat);
#foreach ($methodCall in $methodCalls)
        ${methodCall.methodName}(#foreach ($arg in $methodCall.args)$arg#commaIfNeeded($methodCall.args)#end);
#end
    }

    @Override
    public boolean isSecured() {
        return $secured;
    }
}
