src/**/*.class
test/**/*.class
war/WEB-INF/classes/**
war/WEB-INF/lib/appengine-api-*-sdk-*.jar
war/WEB-INF/lib/appengine-api-labs-*.jar
war/WEB-INF/lib/appengine-jsr107cache-*.jar
war/WEB-INF/lib/datanucleus-appengine-*.final.jar
war/WEB-INF/lib/datanucleus-core-*.jar
war/WEB-INF/lib/datanucleus-jpa-*.jar
war/WEB-INF/lib/geronimo-jpa_*_spec-*.jar
war/WEB-INF/lib/geronimo-jta_*_spec-*.jar
war/WEB-INF/lib/gwt-servlet.jar
war/WEB-INF/lib/jdo2-api-*-eb.jar
war/WEB-INF/lib/jsr107cache-*.jar
war/WEB-INF/lib/commons-logging-1.1.1.jar
war/WEB-INF/lib/log4j-1.2.15.jar
war/WEB-INF/lib/objectify-2.0.jar
tomcat/**
war/com.gwtplatform**
**target**
reports/**
gwtp*.jar
MANIFEST.MF
build.num
crchris.bat
.apt_generated/**
**.zip
*.iml
*.ipr
*.iws
*.eml
**.settings/**
**.project
**.factorypath
**.classpath
**.checkstyle
gwtp-build-tools/bin/**
gwtp-core/gwtp-clients-common/bin/**
gwtp-core/gwtp-crawler/bin/**
gwtp-core/gwtp-dispatch-client/bin/**
gwtp-core/gwtp-dispatch-server/bin/**
gwtp-core/gwtp-dispatch-shared/bin/**
gwtp-core/gwtp-mvp-client/bin/**
gwtp-core/gwtp-processors/bin/**
gwtp-core/gwtp-tester/bin/**
gwtp-samples/gwtp-sample-basic/bin/**
gwtp-samples/gwtp-sample-basic-spring/bin/**
gwtp-samples/gwtp-sample-hplace/bin/**
gwtp-samples/gwtp-sample-nested/bin/**
gwtp-samples/gwtp-sample-tab/bin/**
**bin**
**/.gwt
**/manifest.txt
.idea/**
.settings**
**.gwt-log
