*.java text eol=lf filter=tabspace
*.xml text eol=lf filter=tabspace
*.properties text eol=lf filter=tabspace
*.txt text eol=lf filter=tabspace
*.feature text eol=lf filter=tabspace
*.vm text eol=lf filter=tabspace
*.css text eol=lf filter=tabspace
*.header text eol=lf filter=tabspace
*.html text eol=lf filter=tabspace
.README text eol=lf filter=tabspace
.gitignore text eol=lf filter=tabspace
.gitattributes text eol=lf filter=tabspace
