#* @implicitly included *#

#* @vtlmacrolibrary path="com/gwtplatform/dispatch/rest/processors/macros.vm" *#
#* @velocityproperties path=com/gwtplatform/dispatch/rest/processors/velocity.properties *#

#* @vtlvariable name="impl" type="com.gwtplatform.dispatch.rest.processors.domain.Type" *#
#* @vtlvariable name="processor" type="com.gwtplatform.dispatch.rest.processors.domain.Type" *#
#* @vtlvariable name="imports" type="java.util.Collection<java.lang.String>" *#

#* @vtlvariable name="method" type="com.gwtplatform.dispatch.rest.processors.domain.Method" file="com/gwtplatform/dispatch/rest/processors/endpoint/EndPointMethod.vm" *#
#* @vtlvariable name="endPointImpl" type="com.gwtplatform.dispatch.rest.processors.domain.Type" file="com/gwtplatform/dispatch/rest/processors/endpoint/EndPointMethod.vm" *#

#* @vtlvariable name="methods" type="java.util.Collection<com.gwtplatform.dispatch.rest.processors.outputter.CodeSnippet>" file="com/gwtplatform/dispatch/rest/processors/resource/Resource.vm" *#
#* @vtlvariable name="resource" type="com.gwtplatform.dispatch.rest.processors.domain.Type" file="com/gwtplatform/dispatch/rest/processors/resource/Resource.vm" *#

#* @vtlvariable name="endPoint" type="com.gwtplatform.dispatch.rest.processors.domain.EndPointDetails" file="com/gwtplatform/dispatch/rest/processors/endpoint/EndPoint.vm" *#
#* @vtlvariable name="fields" type="java.util.Collection<com.gwtplatform.dispatch.rest.processors.domain.Variable>" file="com/gwtplatform/dispatch/rest/processors/endpoint/EndPoint.vm" *#

#* @vtlvariable name="mappers" type="java.util.Collection<com.gwtplatform.dispatch.rest.processors.serialization.jackson.JacksonMapper>" file="com/gwtplatform/dispatch/rest/processors/serialization/jackson/JacksonMapperProvider.vm" *#

#* @vtlvariable name="mapped" type="com.gwtplatform.dispatch.rest.processors.domain.Type" file="com/gwtplatform/dispatch/rest/processors/serialization/jackson/JacksonMapper.vm" *#

#* @vtlvariable name="bindings" type="java.util.Collection<com.gwtplatform.dispatch.rest.processors.bindings.gin.GinBinding>" file="com/gwtplatform/dispatch/rest/processors/bindings/gin/GinModule.vm" *#
