package $impl.packageName;

import javax.annotation.Generated;
import javax.inject.Inject;

import com.gwtplatform.common.shared.UrlUtils;
import com.gwtplatform.dispatch.rest.client.annotations.DefaultDateFormat;

#printImports($imports)

@Generated(value = "$processor.qualifiedName", date = "$processingDate")
public class $impl.parameterizedName implements $resource.parameterizedName {
    private final UrlUtils urlUtils;
    private final String defaultDateFormat;

    @Inject
    ${impl.simpleName}(
            UrlUtils urlUtils,
            @DefaultDateFormat String defaultDateFormat) {
        this.defaultDateFormat = defaultDateFormat;
        this.urlUtils = urlUtils;
    }
#foreach ($method in $methods)

$method.code#end
}
