package $impl.packageName;

import javax.annotation.Generated;
import javax.inject.Inject;

import com.gwtplatform.dispatch.rest.client.annotations.DefaultDateFormat;
import com.gwtplatform.dispatch.rest.client.core.parameters.HttpParameterFactory;

#printImports($imports)

@Generated("$processor.qualifiedName")
public class $impl.parameterizedName implements $resource.parameterizedName {
    private final HttpParameterFactory httpParameterFactory;
    private final String defaultDateFormat;

    @Inject
    ${impl.simpleName}(
            @DefaultDateFormat String defaultDateFormat,
            HttpParameterFactory httpParameterFactory) {
        this.defaultDateFormat = defaultDateFormat;
        this.httpParameterFactory = httpParameterFactory;
    }
#foreach ($method in $methods)

$method.code#end
}
