package ${package};

import com.gwtplatform.dispatch.client.rest.AbstractRestAction;
import com.gwtplatform.dispatch.shared.rest.HttpMethod;

public class ${implName} extends AbstractRestAction<${resultClass.qualifiedSourceName}> {
    public ${implName}(#foreach (${param} in ${ctorParams})${param.type.qualifiedSourceName} ${param.name}#commaIfNeeded($ctorParams)#end) {
        super(HttpMethod.${httpMethod}, "${restPath}");
#foreach ($methodCall in $methodCalls)
#if ($methodCall.fieldName)
        ${methodCall.methodName}("${methodCall.fieldName}", ${methodCall.parameter.name});
#else
        ${methodCall.methodName}(${methodCall.parameter.name});
#end
#end
    }
}
