package ${package};

import com.google.inject.Singleton;
import com.gwtplatform.dispatch.client.rest.SerializerProvider;
import com.gwtplatform.dispatch.client.rest.SerializerProviderImpl;
import com.gwtplatform.mvp.client.gin.AbstractPresenterModule;

#foreach (${service} in ${serviceDefinitions.getServices()})
import ${service.qualifiedSourceName};
import ${service.qualifiedSourceName.replace("shared", "client")}${suffix};
#end

public class ${implName} extends AbstractPresenterModule {
    @Override
    protected void configure() {
#foreach (${service} in ${serviceDefinitions.getServices()})
        bind(${service.name}.class).to(${service.name}${suffix}.class).in(Singleton.class);
#end
        bind(SerializerProvider.class).to(SerializerProviderImpl.class).in(Singleton.class);
    }
}
