#* @vtlvariable name="parameters" type="java.util.List<com.gwtplatform.dispatch.rest.processors.domain.Variable>" *#
## TODO: Use `new ContentType(...)`. For now it's easier to reparse because of the parameters map
#macro(recreateContentType $contentType)
ContentType.valueOf("$contentType")#end

#macro(printParameterDefinitions $tabs $parameters)#foreach ($parameter in $parameters)

#indent($tabs)$parameter.type.parameterizedName $parameter.name#commaIfNeeded()#end#end

#macro(appendParameterDefinitions $tabs $parameters)#foreach ($parameter in $parameters),
#indent($tabs)$parameter.type.parameterizedName $parameter.name#end#end

#macro(printParameterNames $tabs $parameters)#foreach ($parameter in $parameters)

#indent($tabs)$parameter.name#commaIfNeeded()#end#end

#macro(appendParameterNames $tabs $parameters)#foreach ($parameter in $parameters),
#indent($tabs)$parameter.name#end#end
