#* @implicitly included *#

#* @vtlvariable name="method" type="com.gwtplatform.dispatch.rest.processors.domain.Method" file="com/gwtplatform/dispatch/rest/processors/endpoint/EndPointMethod.vm" *#
#* @vtlvariable name="endPointImpl" type="com.gwtplatform.processors.tools.domain.Type" file="com/gwtplatform/dispatch/rest/processors/endpoint/EndPointMethod.vm" *#

#* @vtlvariable name="methods" type="java.util.Collection<com.gwtplatform.processors.tools.outputter.CodeSnippet>" file="com/gwtplatform/dispatch/rest/processors/resource/Resource.vm" *#
#* @vtlvariable name="resource" type="com.gwtplatform.processors.tools.domain.Type" file="com/gwtplatform/dispatch/rest/processors/resource/Resource.vm" *#

#* @vtlvariable name="endPoint" type="com.gwtplatform.dispatch.rest.processors.domain.EndPointDetails" file="com/gwtplatform/dispatch/rest/processors/endpoint/EndPoint.vm" *#
#* @vtlvariable name="fields" type="java.util.Collection<com.gwtplatform.dispatch.rest.processors.domain.Variable>" file="com/gwtplatform/dispatch/rest/processors/endpoint/EndPoint.vm" *#

#* @vtlvariable name="mappers" type="java.util.Collection<com.gwtplatform.dispatch.rest.processors.serialization.jackson.JacksonMapper>" file="com/gwtplatform/dispatch/rest/processors/serialization/jackson/JacksonMapperProvider.vm" *#

#* @vtlvariable name="mapped" type="com.gwtplatform.processors.tools.domain.Type" file="com/gwtplatform/dispatch/rest/processors/serialization/jackson/JacksonMapper.vm" *#
