#* @implicitly included *#

#* @vtlmacrolibrary path="com/gwtplatform/processors/tools/macros.vm" *#
#* @velocityproperties path=com/gwtplatform/processors/tools/velocity.properties *#

#* @vtlvariable name="impl" type="com.gwtplatform.processors.tools.domain.Type" *#
#* @vtlvariable name="processor" type="com.gwtplatform.processors.tools.domain.Type" *#
#* @vtlvariable name="imports" type="java.util.Collection<java.lang.String>" *#

#* @vtlvariable name="bindings" type="java.util.Collection<com.gwtplatform.processors.tools.bindings.gin.GinBinding>" file="com/gwtplatform/processors/tools/bindings/gin/GinModule.vm" *#
#* @vtlvariable name="subModules" type="java.util.Collection<com.gwtplatform.processors.tools.domain.Type>" file="com/gwtplatform/processors/tools/bindings/gin/GinModule.vm" *#
