package $impl.packageName;

import javax.annotation.Generated;

import com.gwtplatform.dispatch.rest.client.core.parameters.HttpParameterFactory;
#printImports($imports)

@Generated(value = "$processor.qualifiedName", date = "$processingDate")
public class $impl.simpleName implements $subResourceType.parameterizedName {
    private final HttpParameterFactory httpParameterFactory;
    private final String defaultDateFormat;
#foreach ($field in $fields)
    private final $field.type.qualifiedParameterizedName $field.name;
#end

    public ${impl.simpleName}(
            HttpParameterFactory httpParameterFactory,
            String defaultDateFormat#appendParameterDefinitions(3 $fields)) {
        this.httpParameterFactory = httpParameterFactory;
        this.defaultDateFormat = defaultDateFormat;
#foreach ($field in $fields)
        this.$field.name = $field.name;
#end
    }

#foreach ($method in $methods)
$method.code
#end
}
