    @Override
    public $method.returnType.parameterizedName ${method.name}(#printParameterDefinitions(3 $method.parameters)) {
        return new ${subResourceType.parameterizedName}(
                httpParameterFactory,
                defaultDateFormat#appendParameterNames(4 $subResourceArguments));
    }
