package $impl.packageName;

import javax.annotation.Generated;

import com.github.nmorel.gwtjackson.client.ObjectMapper;

#printImports($imports)

@Generated(value = "$processor.qualifiedName", date = "$processingDate")
public interface $impl.simpleName extends ObjectMapper<$mapped.parameterizedName> {
}
