<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="com.gwtplatform.carstore"
        version="1.0.0">
    <name>Car Store</name>

    <description>
        Car store application.
    </description>

    <author href="http://arcbees.com" email="brandon.donnelson@arcbees.com">
        ArcBees Team
    </author>

    <icon src="icons/ic_launcher.png" width="70" height="70" />
</widget>
