package $package;

import javax.inject.Inject;
import javax.inject.Provider;

import com.google.inject.TypeLiteral;
#if (!$definitions.isEmpty())
import ${package}.mappers.*;
#end

public class $impl extends AbstractJacksonMapperProvider {
    @Inject
    $impl(#foreach ($definition in $definitions)Provider<$definition.getParameterizedClassName()> ${definition.className}Provider#commaIfNeeded($definitions)$lf#end) {
#foreach ($definition in $definitions)
        addProvider("$definition.serializableType.getParameterizedQualifiedSourceName()", ${definition.className}Provider);
#end
    }
}
