package $impl.packageName;

import javax.annotation.Generated;
import com.gwtplatform.mvp.client.proxy.Place;
import com.gwtplatform.mvp.client.proxy.ProxyImpl;
import com.gwtplatform.mvp.client.proxy.ProxyPlaceImpl;
#if($gatekeeperType)
#if($gatekeeperParams.isEmpty())
import com.gwtplatform.mvp.client.proxy.PlaceWithGatekeeper;
#else
import com.gwtplatform.mvp.client.proxy.PlaceWithGatekeeperWithParams;
#end
#else
import com.gwtplatform.mvp.client.proxy.PlaceImpl;
#end
#printProxyImports($bundle $codeSplit $slotNames $proxyEvents)
#printImports($imports)

@Generated(value = "$processor.qualifiedName", date = "$processingDate")
public class $impl.simpleName extends ProxyPlaceImpl<$presenterType.simpleName>
        implements $proxyType.simpleName#implementProxyEventHandlers($proxyEvents) {
    static class WrappedProxy extends ProxyImpl<$presenterType.simpleName> {
#printProxyBody("WrappedProxy" $bundle $codeSplit $presenterType $slotNames "")
    }

    @Inject
    ${impl.simpleName}(
            EventBus eventBus,
            PlaceManager placeManager,
            WrappedProxy wrappedProxy#if($gatekeeperType),
            $gatekeeperType.simpleName gatekeeper#end) {
        Place place;
        String[] nameTokens = {#foreach($nameToken in $nameTokens)"$nameToken"#commaIfNeeded()#end};
#if($gatekeeperType)
#if($gatekeeperParams.isEmpty())

        place = new PlaceWithGatekeeper(nameTokens, gatekeeper);
#else
        String[] gatekeeperParams = {#foreach($param in $gatekeeperParams)"$param"#commaIfNeeded()#end};

        place = new PlaceWithGatekeeperWithParams(nameTokens, gatekeeper, gatekeeperParams);
#end
#else

        place = new PlaceImpl(nameTokens);
#end

        bind(placeManager, eventBus);
        setProxy(wrappedProxy);
        setPlace(place);
#registerProxyEvents($proxyEvents)
    }

#overrideProxyEventHandlers($presenterType $proxyEvents)
}
