package $package;

import com.gwtplatform.dispatch.rest.client.core.StaticParametersFactory;
import com.gwtplatform.dispatch.rest.client.core.parameters.HttpParameterFactory;
#foreach ($import in $imports)
import $import;
#end

public class $impl implements $resourceType {
    private final HttpParameterFactory httpParameterFactory;
    private final String defaultDateFormat;

    ${impl}() {
        this.defaultDateFormat = StaticParametersFactory.getDefaultDateFormat();
        this.httpParameterFactory = StaticParametersFactory.getHttpParameterFactory();
    }

#foreach ($method in $methods)
$method.output
#end
}
