    @Override
    public RestAction<$resultType> ${methodName}(#generateMethodSignature($methodParameters)) {
        return new ${action.className}(
                httpParameterFactory,
                defaultDateFormat#generateAppendedCallSignature($actionParameters));
    }
