package ${impl.packageName};

import javax.inject.Inject;
import javax.inject.Provider;
import com.google.web.bindery.event.shared.EventBus;
import com.gwtplatform.mvp.client.proxy.ProxyImpl;
import com.gwtplatform.mvp.client.proxy.RevealContentHandler;
import com.gwtplatform.mvp.client.proxy.PlaceManager;
import com.gwtplatform.common.client.StandardProvider;
import com.gwtplatform.mvp.client.proxy.ProxyPlaceImpl;
import ${proxy.qualifiedName};

public class ${impl.simpleName} extends ProxyPlaceImpl<${presenterName}> implements ${proxy.simpleName} {
    public static class WrappedProxy extends com.gwtplatform.mvp.client.proxy.ProxyImpl<${presenterName}> {
        @Inject
        public WrappedProxy(EventBus eventBus, PlaceManager placeManager, Provider<${presenterName}> provider) {
            bind(placeManager, eventBus);
            presenter = new StandardProvider<>(provider);

#if(!$slots.isEmpty())
            RevealContentHandler<${presenterName}> revealContentHandler = new RevealContentHandler<${presenterName}>( eventBus, this );
#foreach($slot in $slots)
            eventBus.addHandler( ${presenterName}.$slot, revealContentHandler );
#end
#end
        }
    }

    @Inject
    public ${presenterName}MyProxyImpl(EventBus eventBus, PlaceManager placeManager, WrappedProxy wrappedProxy) {
        bind(placeManager, eventBus);
        setProxy(wrappedProxy);

        String[] nameTokens = {#foreach($nametoken in $nametokens)"$nametoken"#commaIfNeeded()#end};
        setPlace(new com.gwtplatform.mvp.client.proxy.PlaceImpl(nameTokens));
    }
}
