    @Generated("$processor.qualifiedName")
    @Override
    public $method.returnType.parameterizedName ${method.name}(#printParameterDefinitions(3 $method.parameters)) {
        return new ${endPoint.type.parameterizedName}(
                httpParameterFactory,
                defaultDateFormat#appendParameterNames(4 $endPoint.fields));
    }
