    @Override
    public $method.returnType.parameterizedName ${method.name}(#printParameterDefinitions(3 $method.parameters)) {
        return new ${endPointType.parameterizedName}(
                urlUtils,
                defaultDateFormat#appendParameterNames(4 $endPointArguments));
    }
