.cellListWidget {
}

.cellListEvenItem, .cellListOddItem {
    font-size: 14px;
    display: inline-block;
    min-width: 80px;
    color: #545454;
    cursor: pointer;
    zoom: 1;
    margin-right: 4px;
    text-align: center;
    padding: 4px 10px 4px 10px;
}

.cellListSelectedItem {
    font-size: 14px;
    color: #ffffff;
    background-image: none;
    background-color: #45a0ec;
    padding: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
}
