#* @vtlvariable name="parameters" type="java.util.List<com.gwtplatform.dispatch.rest.processors.definitions.VariableDefinition>" *#
#macro(commaIfNeeded)
#if($foreach.hasNext), #end
#end

## TODO: Use `new ContentType(...)`. For now it's easier to reparse because of the parameters map
#macro(recreateContentType $contentType)
ContentType.valueOf("$contentType")#end

#macro(printImports $imports)#foreach ($import in $imports)
import $import;
#end#end

#macro(printParameterDefinitions $parameters)#foreach ($parameter in $parameters)

            $parameter.type.parameterizedName $parameter.name#commaIfNeeded()#end#end

#macro(appendParameterDefinitions $parameters)#foreach ($parameter in $parameters),
            $parameter.type.parameterizedName $parameter.name#end#end

#macro(appendParameterNames $parameters)#foreach ($parameter in $parameters),
            $parameter.name#end#end
