#* @vtlvariable name="columnsInitializerDefinitions" type="com.gwtplatform.carstore.rebind.ColumnsInitializerDefinitions" *#
#macro(initColumns $columnsInitializerDefinitions)
    #foreach (${type} in ${columnsInitializerDefinitions.getColumns()})
    #set($dtoCanonicalName = ${columnsInitializerDefinitions.getDtoCanonicalName()})
    #set($returnCellCanonicalName = ${type.getReturnCellCanonicalName()})

    private void init${type.getMethodCapitalizedName()}Column(CellTable<${dtoCanonicalName}> table) {
        Column<${dtoCanonicalName}, ${returnCellCanonicalName}> column
                = new Column<${dtoCanonicalName}, ${returnCellCanonicalName}>(new ${type.getCellCanonicalName()}()) {
                        @Override
                        public ${returnCellCanonicalName} getValue(${dtoCanonicalName} object) {
                            return object.${type.method.getName()}();
                        }};

        table.addColumn(column, "${type.getColumn().headerName()}");
    }
    #end
#end

#macro(callInitColumns $columnsInitializerDefinitions)
    #foreach (${type} in ${columnsInitializerDefinitions.getColumns()})

    init${type.getMethodCapitalizedName()}Column(table);
    #end
#end

#macro(initEmptyMethods $columnsInitializerDefinitions)
    #foreach (${type} in ${columnsInitializerDefinitions.getColumns()})

    public ${type.getMethod().getReturnType().getQualifiedSourceName()} ${type.getMethod().getName()}() {
        return null;
    }
    #end
#end
