package $impl.packageName;

import com.gwtplatform.dispatch.rest.client.core.StaticParametersFactory;
import com.gwtplatform.dispatch.rest.client.core.parameters.HttpParameterFactory;

import javax.annotation.Generated;
import javax.inject.Singleton;

#printImports($imports)

@Singleton
@Generated("$processor.qualifiedName")
public class $impl.parameterizedName implements $resource.parameterizedName {
    private final HttpParameterFactory httpParameterFactory;
    private final String defaultDateFormat;

    ${impl.simpleName}() {
        this.defaultDateFormat = StaticParametersFactory.getDefaultDateFormat();
        this.httpParameterFactory = StaticParametersFactory.getHttpParameterFactory();
    }
#foreach ($method in $methods)

$method.codeSnippet.code#end
}
